<launch>

    <!-- Run the global path planner -->
    <node pkg="simple_planner" type="global_planner" name="global_planner" respawn="true" output="screen" >
        <param name="global_frame" value="map"/>
        <param name="plan_frequency" value="50"/>
    </node>

    <!-- Run the local trajectory planner -->
    <!-- <node pkg="simple_planner" type="local_planner" name="local_planner" respawn="true" output="screen" >
        <param name="global_frame" value="odom"/>
        <param name="plan_frequency" value="50"/>
        <param name="max_speed" value="2"/>
        <param name="max_angle_diff" value="60"/>
        <param name="p_coeff" value="2"/>
        <param name="goal_tolerance" value="0.05"/>
        <param name="prune_ahead_distance" value="0.14"/>
    </node> -->

    <!-- Run the pid controller for goal position and angle -->
    <!-- <node pkg="simple_planner" type="pid_planner" name="pid_planner" respawn="true" output="screen" >
        <param name="max_x_speed" value="2"/>
        <param name="max_y_speed" value="2"/>
        <param name="max_yaw_speed" value="3.0"/>
        <param name="p_x_coeff" value="2"/>
        <param name="p_y_coeff" value="2"/>
        <param name="p_yaw_coeff" value="2"/>
        <param name="plan_frequency" value="30"/>
        <param name="goal_dist_tolerance" value="0.08"/>
        <param name="goal_angle_tolerance" value="0.05"/>
    </node> -->

    
    <!-- Run the modified local planner -->
    <node pkg="simple_planner" type="my_planner" name="my_planner" respawn="true" output="screen" >
        <!-- for local planner -->
        <param name="global_frame" value="odom"/>
        <param name="goal_tolerance" value="0.15"/>
        <param name="prune_ahead_distance" value="0.15"/>
        <param name="plan_frequency" value="20"/>

        <param name="stuck_vel_threshold_" value="0.5"/>
        <param name="stuck_detection_time" value="0.2"/>
        <param name="stuck_back_up_time" value="0.5"/>

        <!--  for pid -->

        <param name="max_speed" value="2"/>
        <param name="max_acceleration" value="2"/>

        <param name="max_angle_diff" value="180"/>
        <param name="max_angular_acceleration" value="180"/>

        <param name="rush_angle_tolerance" value="30"/>
        <!-- <param name="turn_angle_tolerance" value="60"/> -->
        

        <param name="max_x_speed" value="2"/>
        <param name="x_p_coeff" value="3"/>
        <param name="x_i_coeff" value="0"/>
        <param name="x_d_coeff" value="0"/>
        <param name="x_i_limit" value="0"/>
        
        <param name="max_y_speed" value="0.2"/>
        <param name="y_p_coeff" value="3"/>
        <param name="y_i_coeff" value="0"/>
        <param name="y_d_coeff" value="0"/>
        <param name="y_i_limit" value="0"/>
        
        <param name="z_p_coeff" value="4"/>
        <param name="z_i_coeff" value="0"/>
        <param name="z_d_coeff" value="0.5"/>
        <param name="z_i_limit" value="0"/>

    </node>

</launch>
